
/*styles go here*/



/*general*/
.container {
    max-width: 1200px;
    margin: 0 auto;

}


/*navigation style*/

.navigation {
    /* border: 1px solid red; */
    background:  #ccf2ff;
    overflow:auto;

}

.nav-logo {

    /* border: 1px solid white; */
    float: left;
    width: 200px;
}

.nav-logo img {
    width: 200%;


}

.nav-items {
    /* border: 1px solid white; */
    display: inline-block;
    float: right;

    

}

.nav-items ul {
    padding: 0;
}

.nav-items ul li {
    display: inline-block;
    margin: 0 5px 0  5px;
}

.nav-items ul li a {
    color:#00394d;
    text-decoration: none;

}
.nav-items ul li a hover {
   color:#00394d;

}
